
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#map {
    height: 100%;
  margin: 15px;}

  nav {
    margin: 25px auto 0;
    position: relative;
    width: 660px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 180px;
  }
  a:nth-child(3) {
    width: 140px;
  }
  a:nth-child(4) {
    width: 120px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 180px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 140px;
    left: 280px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 120px;
    left: 420px;
    background-color: #9b59b6;
  }
  nav .start-portefolio, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 540px;
    background-color: #bdc017;
  }
  
body{
  font-family: 'Ubuntu', sans-serif;

}
h1 {
  color: #21639e;
  font-weight: bold;
  font-size: 45px;
  margin: 15px;
  letter-spacing: 4px;
  text-align: center;
  text-justify: inter-word;
}
h2 {
  color: #e06666;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 15px;
  padding: 20px;
  text-align: center;
  text-justify: inter-word; 
}
h3 {
  color: #6897bb;
  font-size: 20px;
  margin: 15px;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}

.divbody{
padding-left: 10vw;
padding-right: 10vw;
display:flex

}
.background_image {
  width: 80vw;
  height: 100%;
}
.problem_image {
  background-image: url("geom99-main/image_folder/statement.jpg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 692px;
  height: auto;
  max-height: 509px;
}

html,  
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
