@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

  nav {
    margin: 25px auto 0;
    position: relative;
    width: 660px;
    height: 50px;
    background-color: #34495e;
    border-radius: 80px;
    font-size: 0px;
    margin-bottom: 10px;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    transition: all 0.4s;
    border-radius: 80px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 180px;
  }
  a:nth-child(3) {
    width: 140px;
  }
  a:nth-child(4) {
    width: 120px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 180px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 140px;
    left: 280px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 120px;
    left: 420px;
    background-color: #9b59b6;
  }
  nav .start-portefolio, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 540px;
    background-color: #bdc017;
  }
  
  @media screen and (max-width: 500px) {
    .nav a {
      display: block;
    }
  }

body{
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: rgb(255, 177, 27);
  font-weight: bold;
  font-size: 45px;
  margin: 15px;
  letter-spacing: 4px;
  text-align: center;
  text-justify: inter-word;
}
h2 {
  color: #5DAC81;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 15px;
  padding: 20px;
  text-align: center;
  text-justify: inter-word; 
}
.p_intro {
  color: #116fb8;
  font-size: 20px;
  margin: 15px;
  letter-spacing: 5px;
  padding: 10px;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}
img {
  max-width: 100%;
  height: auto;
  display: table;
  margin: 0 auto;
}

.problem_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 692px;
  height: auto;
  max-height: 509px;
}

html,  
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


@media(max-width:612px){
    .box{
        flex-grow: 0.7;
    }
}

body {
	margin: 0;
}

#map {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: 1vw;
margin-bottom: 5px;
margin-left: 8vw;
margin-right: 10vw;
}

.column {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:#ffffff;
}
.column2 {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color:	#E0E0E0;
}

.par {
  width: 90vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 50px;
  margin-left: auto;
}

.pimage{
	max-width: 100%;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("image_folder/Photo1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* 
https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.4s linear;
}

.container:hover .overlay {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}
.text {
  color: #ffff00;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.text_small {
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


.container_m {
  padding: 20px 40px 40px;
  max-width: 100%;
}
.container_m_image {
  display: inline-block;
  vertical-align: top;
  max-width: 46%;
  margin: 20px 30px 0 0;
}
.container_m_text {
  display: inline-block;
  width: 46%;
  font-size: 20px;
}
@media (max-width: 620px) {
  .container_m_text {
    width: 100%;
  }
}

.footer-top{
  background-color: #9aac9d;
  padding-bottom: 1rem;
}

.footer{
  width:100%;
  background-color: #9aac9d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 auto;
}
.footer-heading{
display: flex;
flex-direction: column;
margin-right:1rem ;
}

.footer-heading h4{
  margin-bottom:1.5rem;
  color: #ffffff;
  font-size: medium;
}

.footer-heading a {
  color: #fcfcfc;
  text-decoration: none;
  margin-bottom: 0.3rem;
}

.footer-heading a:hover{
color: #000000;
transition:0.7s;
}

.footer-img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50%;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.footer-br{
  margin-top:1.5rem;
  padding-left: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.footer-br a {
  color:#021af7;
  text-decoration: none;
}

@media screen and (max-width:2560px) {
  .footer{
    height:10vh;
    padding-top: 1rem;
  }
}

@media screen and (max-width:1920px) {
  .footer{
    height:12vh;
    padding-top: 1rem;
  }
}

@media screen and (max-width:480px) {
  .footer{
    height:35vh;
    padding-top: 1rem;
  }
}
/* https://gis.stackexchange.com/questions/388121/adjust-pop-up-container-in-leaflet*/
 .leaflet-popup-content {
  width: 200px;
}

h3 {
  color: rgb(255, 177, 27);
  font-weight: bold;
  font-size: 50px;
  margin: 15px;
  letter-spacing: 4px;
  text-align: Left;
  overflow: hidden;
  text-justify: inter-word;
}

h4 {  color: rgb(209, 27, 255);
  font-weight:bold;
  font-size: 20px;
}
h5 {
  color: rgb(255, 177, 27);
  font-weight: bold;
  font-size:200px;
  margin: 15px;
  letter-spacing: 8px;
  text-align:left;
  text-justify: inter-word;
  overflow: hidden;
}

.aboutus {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  background-image: url("image_folder/black.jpg");
  overflow: hidden;
}

.about_par {
  height: auto;
  margin: 5px auto;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 50px;
  overflow: hidden;
}
@media screen and (min-width:1020px) {
  .about_par{
    width:30vh;
    padding-top: 1rem;
  }
}
.about_par img{
  max-height:20vw;
  overflow: hidden;
}
/* https://codepen.io/konradwax/pen/woPNqJ */
.button {
  border-radius: 25px;
  background-color: #c94848;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  width: 180px;
  transition: all 0.4s;
  margin: 30px;
  box-shadow: 0 12px 20px -8px rgba(255, 0, 0, 0.911);

  cursor:crosshair;
  display: inline-block;
  position: relative;
  transition:0.7s;
  margin-left: auto;
}

.button:after {
  position: absolute;
  top: 14px;
  right: -20px;
  transition: 0.5s;  
}

.button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.button:hover:after {
  opacity: 1;
  right: 16px;
}
.container_a_text a {
  color: #fcfcfc;
  text-decoration: none;
  margin-bottom: 0.3rem;
}
.container_a_image {
  display: inline-block;
  vertical-align: top;
  height: 70%;
  margin: 20px 30px 0 0;
}
.container_a_text {
  display: inline-block;
  width: 46%;
}
